<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>用户绑定</title>
    <link href="http://lib.yangqiwang.cn/bishe/css/jiayouzhan.min.css" rel="stylesheet">
    <style type="text/css">
        .border-radius {overflow: hidden;}
        .logo {margin: 50px auto;}
        .logo img {width: 30%;}
    </style>
</head>
<body>
<div class="logo text-center">
    <img src="http://lib.yangqiwang.cn/bishe/imgs/logo.png" alt="">
</div>
<div class="input-box-group">
    <div id="tel-box">
        <input class="form-control" id="tel-input" type="tel" maxlength="13" placeholder="请输入手机号码" autocomplete="on">
        <span id="tel-from"></span>
        <span class="del-input hide"></span>
        <label id="tel-tip"></label>
    </div>
    <div id="code-box">
        <div class="input-group">
            <input class="form-control" id="code-input" type="tel" maxlength="6" placeholder="请输入验证码" aria-describedby="basic-addon2">
            <span class="input-group-addon get-code" id="basic-addon2" data-isClick="false">获取验证码</span>
        </div>
        <label id="code-tip" style="margin-bottom: 30px"></label>
    </div>
</div>
<div class="operate-box btn-disabled" id="submit-btn">
    <a class="btn border-radius" role="button">绑 定</a>
</div>
<div id="aaa">点我测试</div>
<div id="isUsed" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p class="text-center">该手机号已经绑定！</p>
            </div>
            <div class="modal-footer" id="clear">
                <p class="footer-color"><a style="display: block;" data-dismiss="modal">确 定</a></p>
            </div>
        </div>
    </div>
</div>
<div id="result-alert" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content body-success hide">
            <div class="modal-body">
                <p>绑定成功！</p>
            </div>
            <div class="modal-footer" id="success-btn">
                <p class="footer-color"><a style="display: block;" data-dismiss="modal">确 定</a></p>
            </div>
        </div>
        <div class="modal-content body-failure hide">
            <div class="modal-body">
                <p>绑定失败，请重新获取验证码！</p>
            </div>
            <div class="modal-footer" id="fail-btn">
                <p class="footer-color"><a style="display: block;" data-dismiss="modal">再试一次</a></p>
            </div>
        </div>
        <div class="modal-content body-busy hide">
            <div class="modal-body">
                <p>网络繁忙</p>
            </div>
            <div class="modal-footer">
                <p class="footer-color"><a style="display: block;" data-dismiss="modal">再试一次</a></p>
            </div>
        </div>
    </div>
</div>
<script src="http://lib.yangqiwang.cn/bishe/js/zepto.min.js"></script>
<script src="http://lib.yangqiwang.cn/bishe/js/other.min.js"></script>
<script>
    var ctx = '';
</script>
<script src="http://lib.yangqiwang.cn/bishe/js/bindTel.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    $('#aaa').on('click',function(){
        var datas = {
            "计科班": [
                {
                    "学号": "14132401072",
                    "姓名": "尹卓",
                    "计算机电路基础": "70",
                    "数据结构": "77",
                    "概率统计": "83",
                    "计算机组成原理": "79",
                    "算法设计与分析": "优",
                    "数据结构与算法设计实验": "优",
                    "操作系统": "85",
                    "多媒体技术": "优",
                    "IT企业参观见习": "良",
                    "程序设计课程设计": "及格",
                    "大学体育(3)": "92",
                    "大学体育(4)": "90",
                    "马克思主义基本原理": "96",
                    "大学英语A(3)": "79",
                    "大学物理(2)": "78",
                    "大学物理实验(2)": "86",
                    "毛泽东思想和中国特色理论体系概论": "92",
                    "大学英语A(4)": "92",
                    "平均成绩": "83.83 ",
                    "排名": "18",
                    "不及格科数": "0"
                },
                {
                    "学号": "14132402001",
                    "姓名": "蔡佳",
                    "计算机电路基础": "81",
                    "数据结构": "81",
                    "概率统计": "90",
                    "计算机组成原理": "88",
                    "算法设计与分析": "良",
                    "数据结构与算法设计实验": "优",
                    "操作系统": "89",
                    "多媒体技术": "优",
                    "IT企业参观见习": "优",
                    "程序设计课程设计": "及格",
                    "大学体育(3)": "86",
                    "大学体育(4)": "87",
                    "马克思主义基本原理": "85",
                    "大学英语A(3)": "83",
                    "大学物理(2)": "75",
                    "大学物理实验(2)": "86",
                    "毛泽东思想和中国特色理论体系概论": "90",
                    "大学英语A(4)": "77",
                    "平均成绩": "83.78 ",
                    "排名": "19",
                    "不及格科数": "0"
                },
                {
                    "学号": "14132400985",
                    "姓名": "刘繁",
                    "计算机电路基础": "76",
                    "数据结构": "79",
                    "概率统计": "76",
                    "计算机组成原理": "78",
                    "算法设计与分析": "良",
                    "数据结构与算法设计实验": "优",
                    "操作系统": "85",
                    "多媒体技术": "良",
                    "IT企业参观见习": "良",
                    "程序设计课程设计": "优",
                    "大学体育(3)": "84",
                    "大学体育(4)": "91",
                    "马克思主义基本原理": "88",
                    "大学英语A(3)": "77",
                    "大学物理(2)": "77",
                    "大学物理实验(2)": "84",
                    "毛泽东思想和中国特色理论体系概论": "74",
                    "大学英语A(4)": "84",
                    "平均成绩": "81.83 ",
                    "排名": "35",
                    "不及格科数": "0"
                },
                {
                    "学号": "14132401505",
                    "姓名": "阳琪旺",
                    "计算机电路基础": "69",
                    "数据结构": "71",
                    "概率统计": "65",
                    "计算机组成原理": "63",
                    "算法设计与分析": "中",
                    "数据结构与算法设计实验": "中",
                    "操作系统": "60",
                    "多媒体技术": "良",
                    "IT企业参观见习": "优",
                    "程序设计课程设计": "优",
                    "大学体育(3)": "86",
                    "大学体育(4)": "89",
                    "马克思主义基本原理": "81",
                    "大学英语A(3)": "66",
                    "大学物理(2)": "67",
                    "大学物理实验(2)": "75",
                    "毛泽东思想和中国特色理论体系概论": "68",
                    "大学英语A(4)": "73",
                    "平均成绩": "74.06 ",
                    "排名": "103",
                    "不及格科数": "0"
                },
                {
                    "学号": "14132401056",
                    "姓名": "胡贱雄",
                    "计算机电路基础": "82",
                    "数据结构": "68",
                    "概率统计": "55",
                    "计算机组成原理": "41",
                    "算法设计与分析": "及格",
                    "数据结构与算法设计实验": "中",
                    "操作系统": "78",
                    "多媒体技术": "及格",
                    "IT企业参观见习": "良",
                    "程序设计课程设计": "优",
                    "大学体育(3)": "86",
                    "大学体育(4)": "82",
                    "马克思主义基本原理": "80",
                    "大学英语A(3)": "70",
                    "大学物理(2)": "64",
                    "大学物理实验(2)": "81",
                    "毛泽东思想和中国特色理论体系概论": "69",
                    "大学英语A(4)": "83",
                    "平均成绩": "72.17 ",
                    "排名": "114",
                    "不及格科数": "2"
                },
                {
                    "学号": "14132402775",
                    "姓名": "邓浩文",
                    "计算机电路基础": "58",
                    "数据结构": "65",
                    "概率统计": "70",
                    "计算机组成原理": "60",
                    "算法设计与分析": "中",
                    "数据结构与算法设计实验": "中",
                    "操作系统": "72",
                    "多媒体技术": "中",
                    "IT企业参观见习": "良",
                    "程序设计课程设计": "优",
                    "大学体育(3)": "75",
                    "大学体育(4)": "75",
                    "马克思主义基本原理": "80",
                    "大学英语A(3)": "69",
                    "大学物理(2)": "75",
                    "大学物理实验(2)": "73",
                    "毛泽东思想和中国特色理论体系概论": "80",
                    "大学英语A(4)": "65",
                    "平均成绩": "72.06 ",
                    "排名": "115",
                    "不及格科数": "1"
                },
                {
                    "学号": "14132400701",
                    "姓名": "秦志超",
                    "计算机电路基础": "64",
                    "数据结构": "65",
                    "概率统计": "55",
                    "计算机组成原理": "42",
                    "算法设计与分析": "中",
                    "数据结构与算法设计实验": "中",
                    "操作系统": "69",
                    "多媒体技术": "中",
                    "IT企业参观见习": "优",
                    "程序设计课程设计": "及格",
                    "大学体育(3)": "82",
                    "大学体育(4)": "82",
                    "马克思主义基本原理": "78",
                    "大学英语A(3)": "75",
                    "大学物理(2)": "60",
                    "大学物理实验(2)": "70",
                    "毛泽东思想和中国特色理论体系概论": "71",
                    "大学英语A(4)": "66",
                    "平均成绩": "68.83 ",
                    "排名": "126",
                    "不及格科数": "2"
                },
                {
                    "学号": "14132402017",
                    "姓名": "何欢",
                    "计算机电路基础": "65",
                    "数据结构": "67",
                    "概率统计": "74",
                    "计算机组成原理": "61",
                    "算法设计与分析": "中",
                    "数据结构与算法设计实验": "中",
                    "操作系统": "72",
                    "多媒体技术": "中",
                    "IT企业参观见习": "优",
                    "程序设计课程设计": "良",
                    "大学体育(3)": "75",
                    "大学体育(4)": "66",
                    "马克思主义基本原理": "65",
                    "大学英语A(3)": "53",
                    "大学物理(2)": "65",
                    "大学物理实验(2)": "77",
                    "毛泽东思想和中国特色理论体系概论": "63",
                    "大学英语A(4)": "54",
                    "平均成绩": "68.72 ",
                    "排名": "127",
                    "不及格科数": "2"
                },
                {
                    "学号": "14132401801",
                    "姓名": "严舞旗",
                    "计算机电路基础": "48",
                    "数据结构": "70",
                    "概率统计": "54",
                    "计算机组成原理": "23",
                    "算法设计与分析": "及格",
                    "数据结构与算法设计实验": "及格",
                    "操作系统": "77",
                    "多媒体技术": "良",
                    "IT企业参观见习": "优",
                    "程序设计课程设计": "良",
                    "大学体育(3)": "80",
                    "大学体育(4)": "74",
                    "马克思主义基本原理": "70",
                    "大学英语A(3)": "74",
                    "大学物理(2)": "77",
                    "大学物理实验(2)": "65",
                    "毛泽东思想和中国特色理论体系概论": "70",
                    "大学英语A(4)": "77",
                    "平均成绩": "68.28 ",
                    "排名": "128",
                    "不及格科数": "3"
                },
                {
                    "学号": "14122402560",
                    "姓名": "袁晓龙",
                    "计算机电路基础": "72",
                    "数据结构": "72",
                    "概率统计": "68",
                    "计算机组成原理": "44",
                    "算法设计与分析": "及格",
                    "数据结构与算法设计实验": "及格",
                    "操作系统": "60",
                    "多媒体技术": "良",
                    "IT企业参观见习": "良",
                    "程序设计课程设计": "及格",
                    "大学体育(3)": "78",
                    "大学体育(4)": "81",
                    "马克思主义基本原理": "70",
                    "大学英语A(3)": "65",
                    "大学物理(2)": "61",
                    "大学物理实验(2)": "76",
                    "毛泽东思想和中国特色理论体系概论": "69",
                    "大学英语A(4)": "69",
                    "平均成绩": "68.06 ",
                    "排名": "129",
                    "不及格科数": "1"
                },
                {
                    "学号": "14132401709",
                    "姓名": "李昆",
                    "计算机电路基础": "46",
                    "数据结构": "41",
                    "概率统计": "55",
                    "计算机组成原理": "61",
                    "算法设计与分析": "中",
                    "数据结构与算法设计实验": "及格",
                    "操作系统": "65",
                    "多媒体技术": "中",
                    "IT企业参观见习": "优",
                    "程序设计课程设计": "优",
                    "大学体育(3)": "89",
                    "大学体育(4)": "87",
                    "马克思主义基本原理": "74",
                    "大学英语A(3)": "55",
                    "大学物理(2)": "46",
                    "大学物理实验(2)": "80",
                    "毛泽东思想和中国特色理论体系概论": "75",
                    "大学英语A(4)": "61",
                    "平均成绩": "67.50 ",
                    "排名": "130",
                    "不及格科数": "5"
                },
                {
                    "学号": "14132401584",
                    "姓名": "曹振",
                    "计算机电路基础": "54",
                    "数据结构": "63",
                    "概率统计": "53",
                    "计算机组成原理": "48",
                    "算法设计与分析": "及格",
                    "数据结构与算法设计实验": "中",
                    "操作系统": "63",
                    "多媒体技术": "良",
                    "IT企业参观见习": "良",
                    "程序设计课程设计": "中",
                    "大学体育(3)": "82",
                    "大学体育(4)": "77",
                    "马克思主义基本原理": "71",
                    "大学英语A(3)": "63",
                    "大学物理(2)": "62",
                    "大学物理实验(2)": "74",
                    "毛泽东思想和中国特色理论体系概论": "72",
                    "大学英语A(4)": "66",
                    "平均成绩": "67.11 ",
                    "排名": "131",
                    "不及格科数": "3"
                },
                {
                    "学号": "14132404128",
                    "姓名": "李鹏辉",
                    "计算机电路基础": "65",
                    "数据结构": "63",
                    "概率统计": "74",
                    "计算机组成原理": "42",
                    "算法设计与分析": "及格",
                    "数据结构与算法设计实验": "及格",
                    "操作系统": "73",
                    "多媒体技术": "免修",
                    "IT企业参观见习": "良",
                    "程序设计课程设计": "良",
                    "大学体育(3)": "77",
                    "大学体育(4)": "70",
                    "马克思主义基本原理": "76",
                    "大学英语A(3)": "71",
                    "大学物理(2)": "81",
                    "大学物理实验(2)": "74",
                    "毛泽东思想和中国特色理论体系概论": "70",
                    "大学英语A(4)": "23",
                    "平均成绩": "67.00 ",
                    "排名": "132",
                    "不及格科数": "2"
                },
                {
                    "学号": "14132403270",
                    "姓名": "褚浩然",
                    "计算机电路基础": "58",
                    "数据结构": "61",
                    "概率统计": "50",
                    "计算机组成原理": "32",
                    "算法设计与分析": "及格",
                    "数据结构与算法设计实验": "及格",
                    "操作系统": "68",
                    "多媒体技术": "中",
                    "IT企业参观见习": "优",
                    "程序设计课程设计": "优",
                    "大学体育(3)": "72",
                    "大学体育(4)": "78",
                    "马克思主义基本原理": "66",
                    "大学英语A(3)": "64",
                    "大学物理(2)": "74",
                    "大学物理实验(2)": "65",
                    "毛泽东思想和中国特色理论体系概论": "63",
                    "大学英语A(4)": "68",
                    "平均成绩": "66.06 ",
                    "排名": "133",
                    "不及格科数": "3"
                },
                {
                    "学号": "14132404015",
                    "姓名": "黄向斌",
                    "计算机电路基础": "50",
                    "数据结构": "77",
                    "概率统计": "62",
                    "计算机组成原理": "32",
                    "算法设计与分析": "及格",
                    "数据结构与算法设计实验": "及格",
                    "操作系统": "71",
                    "多媒体技术": "及格",
                    "IT企业参观见习": "良",
                    "程序设计课程设计": "良",
                    "大学体育(3)": "70",
                    "大学体育(4)": "81",
                    "马克思主义基本原理": "72",
                    "大学英语A(3)": "67",
                    "大学物理(2)": "66",
                    "大学物理实验(2)": "71",
                    "毛泽东思想和中国特色理论体系概论": "69",
                    "大学英语A(4)": "54",
                    "平均成绩": "65.67 ",
                    "排名": "134",
                    "不及格科数": "3"
                },
                {
                    "学号": "14122402557",
                    "姓名": "范炫辉",
                    "计算机电路基础": "43",
                    "数据结构": "37",
                    "概率统计": "53",
                    "计算机组成原理": "45",
                    "算法设计与分析": "及格",
                    "数据结构与算法设计实验": "及格",
                    "操作系统": "65",
                    "多媒体技术": "中",
                    "IT企业参观见习": "及格",
                    "程序设计课程设计": "良",
                    "大学体育(3)": "82",
                    "大学体育(4)": "81",
                    "马克思主义基本原理": "72",
                    "大学英语A(3)": "60",
                    "大学物理(2)": "60",
                    "大学物理实验(2)": "66",
                    "毛泽东思想和中国特色理论体系概论": "67",
                    "大学英语A(4)": "78",
                    "平均成绩": "63.28 ",
                    "排名": "135",
                    "不及格科数": "4"
                },
                {
                    "学号": "14132401978",
                    "姓名": "唐宇雷",
                    "计算机电路基础": "64",
                    "数据结构": "73",
                    "概率统计": "65",
                    "计算机组成原理": "41",
                    "算法设计与分析": "及格",
                    "数据结构与算法设计实验": "及格",
                    "操作系统": "74",
                    "多媒体技术": "及格",
                    "IT企业参观见习": "良",
                    "程序设计课程设计": "良",
                    "大学体育(3)": "68",
                    "大学体育(4)": "65",
                    "马克思主义基本原理": "82",
                    "大学英语A(3)": "57",
                    "大学物理(2)": "75",
                    "大学物理实验(2)": "0",
                    "毛泽东思想和中国特色理论体系概论": "60",
                    "大学英语A(4)": "73",
                    "平均成绩": "63.17 ",
                    "排名": "136",
                    "不及格科数": "3"
                },
                {
                    "学号": "14132401984",
                    "姓名": "赵广军",
                    "计算机电路基础": "20",
                    "数据结构": "38",
                    "概率统计": "54",
                    "计算机组成原理": "61",
                    "算法设计与分析": "及格",
                    "数据结构与算法设计实验": "中",
                    "操作系统": "68",
                    "多媒体技术": "及格",
                    "IT企业参观见习": "优",
                    "程序设计课程设计": "良",
                    "大学体育(3)": "77",
                    "大学体育(4)": "84",
                    "马克思主义基本原理": "71",
                    "大学英语A(3)": "51",
                    "大学物理(2)": "36",
                    "大学物理实验(2)": "0",
                    "毛泽东思想和中国特色理论体系概论": "61",
                    "大学英语A(4)": "77",
                    "平均成绩": "58.78 ",
                    "排名": "137",
                    "不及格科数": "6"
                }
            ]
        }

        $.ajax({
            url: ctx + '/common/upload',
            type: 'POST',
            dataType: 'json',
            data: {data:JSON.stringify(datas)},
            success: function(data) {
                alert(1)
            },
            error: function() {
                alert(1)
            }
        });
    });
</script>
<script>
    wx.config({
        debug: false,
        appId: "<%= appId %>",
        timestamp: "<%= timestamp %>",
        nonceStr: "<%= nonceStr %>",
        signature: "<%= signature %>",
        jsApiList: ["closeWindow"]
    });

    wx.ready(function(){

    });
</script>
</body>
</html>